*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 18px;
}

header {
    background-color: #2E323F;
    color: #FFFFFF;
}

footer {
    background-color: #3B4050;
    color: #6F737F;
}

footer h2 {
    color: #FFFFFF;
    font-size: 1.3rem;
}

h1 {
    font-size: 2.5rem;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    display: flex;
    padding: 1em;
}

.section1 {
    background: #3B4050;
}

.logo {
    height: 30px;
}

.nav-list {
    list-style-type: none;
}


.nav-link {
    color: #fff;
    font-weight: 520;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item {
    margin-bottom: .55em;
}

.btn {
    background: #fff;
    color: #136c72;
    padding: .25em 1em;
    border-radius: 1em;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    background: black;
    color: #fff;
    transition: opacity 250ms ease;
}

.nav-toggle:focus, .nav-toggle:hover {
    opacity: 0.6;
}

.nav {
    visibility: hidden;
    height: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.ham {
    width: 50%;
    position: relative;
}

.ham, .ham::before, .ham::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.ham::before, .ham::after {
    width: 100%;
    content: '';
}

.ham::before {
    transform: translateY(-6px);
}

.ham::after {
    transform: translateY(3px);
}

.section2 {
    background: #A59678;
    color: #3B4050;
}

.sec2 {
    text-align: center;
}

.sec3-aside {
    background: #3B4050;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
}

@media (min-width: 700px) {
    .sec3-secondary {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .section3 {
        display: flex;
        gap: 1.5em;
    }
}