*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    background-color: #2E323F;
    color: #FFFFFF;
}

footer {
    background-color: #3B4050;
    color: #6F737F;
}

footer h2 {
    color: #FFFFFF;
    font-size: 1.3rem;
    padding-top: 1em;
}

h1 {
    font-size: 2.5rem;
}

h1 span {
    color: #fff;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #A59678;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    padding: 1em;
}

.header {
    display: flex;
    padding: 1em;
}

.section1 {
    background: #3B4050;
}

.sec1 {
    color: #fff;
}

.sec1 a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.sec1-button {
    background: #A59678;
    color: #FFFFFF;
    padding: 1em;
    border-radius: 1em;
    border: none;
}

.logo {
    height: 30px;
}

.nav-list {
    list-style-type: none;
}


.nav-link {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item {
    margin-bottom: .55em;
}

.btn {
    background: #fff;
    color: #136c72;
    padding: .25em 1em;
    border-radius: 1em;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    background: black;
    color: #fff;
    transition: opacity 250ms ease;
}

.nav-toggle:focus, .nav-toggle:hover {
    opacity: 0.6;
}

.nav {
    visibility: hidden;
    height: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.ham {
    width: 50%;
    position: relative;
}

.ham, .ham::before, .ham::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.ham::before, .ham::after {
    width: 100%;
    content: '';
}

.ham::before {
    transform: translateY(-6px);
}

.ham::after {
    transform: translateY(3px);
}

.section2 {
    background: rgb(246, 244, 239);
    color: #3B4050;
    font-size: 1rem;
}

.sec2 h2 {
    font-size: 30px;
}

.sec2 {
    text-align: center;
}

.sec3 {
    font-size: 21px;
}

.sec3 h2 {
    font-size: 36px;
}

.sec3-aside {
    background: #3B4050;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1rem;
}

.sec3-aside h3 {
    font-size: 30px;
}

.footer {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 16px;
}

.footer h3 {
    font-size: 21px;
}

.footer h2 {
    text-align: center;
    font-size: 24px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-nav-list {
    list-style-type: none;
    cursor: pointer;
    padding: 0;
}

.footer-nav-item {
    margin-bottom: 1em;
    font-size: .75em;
    color: #52555e;
}

.footer .nav-link {
    color: #6F737F;
    font-weight: 500;
}

@media (min-width: 700px) {
    .header {
        padding-top: 1.5em;
        justify-content: space-between;
    }
    
    .nav-toggle {
        display: none;
    } 

    
    .nav {
        visibility: visible;
        flex-direction: row;
        position: relative;

    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: .5em;
    }

    .sec1-container {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        padding-bottom: 2em;
    }

    .sec1 {
        align-self: flex-end;
    }

    .sec2-container {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    .sec3-secondary {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .footer-nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    .about {
        width: 40%;
    }
}

@media (min-width: 1000px) {
    .section3 {
        display: flex;
        gap: 2em;
    }

    .sec3-secondary {
        flex-direction: column;
    }
}